.footer {
  width: 97%;
  height: 70px;
  border-top: 1px solid #dfdfdf;
  display: flex;
  justify-content: right;
  align-items: center;
}

.header {
  width: 97%;
  height: 65px;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  justify-content: right;
  align-items: center;
}

.logo {
  width: 4vh;
  margin: 1vw;
}
